<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.edu.dao.mapper.ideaDemo.UserMapper">
<!--    <cache type="com.edu.JavaLearning.算法.RedisCache" eviction="LRU" flushInterval="60000" size="1024" />-->
    <resultMap id="User" type="com.edu.dao.domain.User">
        <result property="id" column="id"></result>
        <result property="username" column="username"></result>
        <result property="password" column="password"></result>
        <result property="userNo" column="usr_no" />
        <result property="num" column="num" />
    </resultMap>
    <sql id="column_list">
        id,
        username,
        password,
        usr_no,
        num
    </sql>
    <select id="getUserByName" resultMap="User">
        select <include refid="column_list" /> from users where username = #{name}
    </select>

    <select id="getUserByName2" resultMap="User" flushCache="true">
        select <include refid="column_list" /> from users where username = #{name}
    </select>

    <update id="updateUserByName">
        update users set num = #{num}
        where username = #{name};
    </update>

    <select id="getAllKeys" parameterType="java.util.List" >
        select * from users
        <if test="params!=null">
            where id in (
             <foreach collection="params" index="index" item="item" separator=",">
                 item
             </foreach>
            )
        </if>
        ;
    </select>

    <insert id="insertUserList" parameterType="java.util.List">
        <foreach collection="pojos" item="pojo" separator=";">
            insert into users
            <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="pojo.username!=null">username,</if>
                <if test="pojo.password!=null">password,</if>
                <if test="pojo.userNo!=null">usr_no</if>
            </trim>
            values
            <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="pojo.username!=null">#{pojo.username,jdbcType=VARCHAR},</if>
                <if test="pojo.password!=null">#{pojo.password,jdbcType=VARCHAR},</if>
                <if test="pojo.userNo!=null">#{pojo.userNo,jdbcType=VARCHAR}</if>
            </trim>
        </foreach>

    </insert>

    <select id="getAll" resultMap="User">
        select <include refid="column_list" /> from users;
    </select>

    <update id="updateByUserNo" flushCache="true">
        update users
        set num = #{num}
        where usr_no = #{userNo}
    </update>

    <select id="queryUserByUserNo" resultMap="User" useCache="true">
        select <include refid="column_list"/>
        from users
        where usr_no = #{userNo}
    </select>
</mapper>
