<?xml version="1.0" encoding="UTF-8"?>
<configuration scanPeriod="60 seconds" debug="false">
    <property resource="application.properties" />
    <property name="logging.path" value="/data/logs" />
    <!-- 控制台输出 -->
    <appender name="console-appender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>[%d] [%mdc{traceId}] [%p] [%mdc{reqUrl}] - %m%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="root-appender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--最常用的滚动策略，它根据时间来制定滚动策略，既负责滚动也负责出发滚动-->
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>DENY</onMatch> <!--error级别日志不打印-->
            <onMismatch>ACCEPT</onMismatch> <!--打印非error级别日志-->
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${logging.path}/demo/root.log.%d{yyyy-MM-dd}</FileNamePattern>
            <maxHistory>3</maxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>[%d] [%mdc{traceId}] [%p] [%mdc{reqUrl}] - %m%n</pattern>
        </encoder>
    </appender>

    <!--指定日志的保存点-->
    <!--滚动记录文件，先将日志记录到指定文件，当符合某个条件时，将日志记录到其他文件-->
    <appender name="controller-appender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--最常用的滚动策略，它根据时间来制定滚动策略，既负责滚动也负责出发滚动&ndash;&gt;-->
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>DENY</onMatch>
            <onMismatch>ACCEPT</onMismatch>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${logging.path}/demo/controller.log.%d{yyyy-MM-dd}</FileNamePattern>
            <maxHistory>3</maxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>[%d] [%mdc{traceId}] [%p] [%mdc{reqUrl}] - %m%n</pattern>
        </encoder>
    </appender>
    <appender name="service-appender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--最常用的滚动策略，它根据时间来制定滚动策略，既负责滚动也负责出发滚动-->
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>DENY</onMatch>
            <onMismatch>ACCEPT</onMismatch>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${logging.path}/demo/service.log.%d{yyyy-MM-dd}</FileNamePattern>
            <maxHistory>3</maxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>[%d] [%mdc{traceId}] [%p] [%mdc{reqUrl}] - %m%n</pattern>
        </encoder>
    </appender>

    <appender name="dao-appender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--最常用的滚动策略，它根据时间来制定滚动策略，既负责滚动也负责出发滚动-->
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>DENY</onMatch>
            <onMismatch>ACCEPT</onMismatch>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${logging.path}/demo/dao.log.%d{yyyy-MM-dd}</FileNamePattern>
            <maxHistory>3</maxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>[%d] [%mdc{traceId}] [%p] [%mdc{reqUrl}] - %m%n</pattern>
        </encoder>
    </appender>
    <appender name="ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--打印级别>=level[此例为ERROR]的日志-->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <!--或者
                noMatch(接受或不接受) level级别的日志
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        -->
        <!--最常用的滚动策略，它根据时间来制定滚动策略，既负责滚动也负责出发滚动-->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${logging.path}/demo/error.log.%d{yyyy-MM-dd}</FileNamePattern>
            <maxHistory>3</maxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>[%d] [%mdc{traceId}] [%p] [%mdc{reqUrl}] - %m%n</pattern>
        </encoder>
    </appender>

    <!--指定日志的输出点(controller包中)-->
    <logger name="com.edu.controller" level="INFO" additivity="true">
        <appender-ref ref="controller-appender"/>
    </logger>

    <logger name="com.edu.service" level="INFO" additivity="false">
        <appender-ref ref="service-appender"/>
    </logger>
    <!--dao层日志-->
    <logger name="com.edu.dao" level="INFO" additivity="false">
        <appender-ref ref="dao-appender"/>
    </logger>

    <logger name="java.sql" level="DEBUG" additivity="false">
        <appender-ref ref="dao-appender"/>
    </logger>

    <!--appender没设置自己的level时，继承root的level级别，此处表示level>=info，才可以写入一下appender。-->
    <root level="INFO">
        <appender-ref ref="console-appender" />
        <appender-ref ref="root-appender" />
        <appender-ref ref="ERROR" />
    </root>

</configuration>