<!DOCTYPE html>
<html>
	
<head>
		<meta charset="utf-8">
		<title>登录界面</title>
		<link rel="stylesheet" href="/resources/css/reset.css" />
		<link rel="stylesheet" href="/resources/css/common.css" />
		<link rel="stylesheet" href="/resources/css/font-awesome.min.css" />
		<link href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="/resources/css/htmleaf-demo.css">
		<link rel="stylesheet" type="text/css" href="/resources/css/verify.css">
	</head>
	<body>
		<div class="wrap login_wrap">
			<div class="content">
				<div class="logo"></div>
				<div class="login_box">	
					
					<div class="login_form">
						<div class="login_title">
							登录
						</div>
						<form action="#" method="post">
							
							<div class="form_text_ipt">
								<input name="username" type="text" placeholder="手机号/邮箱">
							</div>
							<div class="row">
								<div class="col-md-offset-4 col-md-4">
									<h3>滑动验证码</h3>
									<p>滑动滑块到最右侧完成验证</p>
									<div id="mpanel1" ></div>
									<p style="margin-top:50px;">拖动方块到空白处完成验证</p>
									<div id="mpanel4" ></div>
								</div>
							</div>
							<div class="ececk_warning"><span>手机号/邮箱不能为空</span></div>
							<div class="form_text_ipt">
								<input name="password" type="password" placeholder="密码">
							</div>
							<div class="ececk_warning"><span>密码不能为空</span></div>
							<div class="form_check_ipt">
								<div class="left check_left">
									<label><input name="" type="checkbox"> 下次自动登录</label>
								</div>
								<div class="right check_right">
									<a href="#">忘记密码</a>
								</div>
							</div>
							<div class="form_btn">
								<button type="button" onclick="javascript:window.location.href='#'">登录</button>
							</div>
							<div class="form_reg_btn">
								<span>还没有帐号？</span><a href="register.html">马上注册</a>
							</div>
						</form>
						<div class="other_login">
							<div class="left other_left">
								<span>其它登录方式</span>
							</div>
							<div class="right other_right">
								<a href="#"><i class="fa fa-qq fa-2x"></i></a>
								<a href="#"><i class="fa fa-weixin fa-2x"></i></a>
								<a href="#"><i class="fa fa-weibo fa-2x"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="/resources/js/jquery.min.js" ></script>
		<script type="text/javascript" src="/resources/js/common.js" ></script>
		<script src="http://cdn.bootcss.com/jquery/1.11.0/jquery.min.js" type="text/javascript"></script>
		<script>window.jQuery || document.write('<script src="/resources/js/jquery-1.11.0.min.js"><\/script>')</script>
		<script type="text/javascript" src="/resources/js/verify.js" ></script>
		<script type="text/javascript">
            $('#mpanel1').slideVerify({
                type : 1,		//类型
                vOffset : 5,	//误差量，根据需求自行调整
                barSize : {
                    width : '80%',
                    height : '40px',
                },
                ready : function() {
                },
                success : function() {
                    alert('验证成功，添加你自己的代码！');
                    //......后续操作
                },
                error : function() {
                    //		        	alert('验证失败！');
                }

            });


            $('#mpanel4').slideVerify({
                type : 2,		//类型
                vOffset : 5,	//误差量，根据需求自行调整
                vSpace : 5,	//间隔
                imgName : ['/img/1.jpg', '/img/2.jpg'],
                imgSize : {
                    width: '400px',
                    height: '200px',
                },
                blockSize : {
                    width: '40px',
                    height: '40px',
                },
                barSize : {
                    width : '400px',
                    height : '40px',
                },
                ready : function() {
                },
                success : function() {
                    alert('验证成功，添加你自己的代码！');
                    //......后续操作
                },
                error : function() {
                    //		        	alert('验证失败！');
                }

            });
		</script>

	</body>
</html>
