<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.edu.JavaLearning.spring"/>

    <!--<bean id="springBean" class="com.edu.JavaLearning.spring.SpringBean"-->
          <!--init-method="init"-->
          <!--destroy-method="destroy"-->
          <!--scope="singleton">-->
        <!--<property name="beanId" value="1314" />-->
        <!--<property name="beanName" value="springBean"/>-->
        <!--<property name="data" value="SpringBean生命周期学习"/>-->
    <!--</bean>-->

    <!--<bean id="springEventListener" class="com.edu.JavaLearning.spring.SpringEventPublishListener"/>-->
    <!--Spring Bean 注入中的autowire="byName" or autowire="byType" 当不使用@Resource @Autowired时-->
    <!--实际上是用public的 set方法来确定具体注入哪些bean-->
    <bean id="highConcurrencyControl" class="com.edu.JavaLearning.算法.HighConcurrencyControl" autowire="byName" />
    <bean id="distributedConsistency" class="com.edu.JavaLearning.算法.DistributedConsistency"/>

    <bean id="springTransaction" class="com.edu.JavaLearning.spring.SpringTransaction" autowire="byType"/>
</beans>
